
	#posts-container{
		margin:0 1%;
		width:98%;
		@extend %clearfix;
		display: block;
		padding-bottom:80px;
		@media screen and (max-width: $break-small){
			margin:0 4%;
			width:92%;
		}
		.item{
			float:left;
			width:31.3333%;
			display: block;
			border: 12px solid $light-grey;
			background-color: white;
			color: $grey;
			margin: 0 1% 2%;
			@media screen and (max-width: $break-large){
				width: 48%;
			}
			@media screen and (max-width: $break-small){
				width:100%;
				margin: 0 0 4%;
			}
			figure{
				img{
					@include fit-grid(width);
					display: block;
				}
			}
			figcaption{
				padding: 4% 4% 6%;
				h4{
					color: $grey;
					font-family: $proximanova-bold;
					font-style: normal;
					@include font-size(16);
					margin-bottom: 4px;
					@media screen and (max-width: $break-xlarge){
						@include font-size(14);
					}
				}
				p{
					margin-bottom: 0;
				}
			}
		}
	}
	footer#posts-footer{
		width: 100%;
		display: block;
		@include abs-pos(auto,auto,0,0);
		//position: relative;
		text-align: center;
		margin: 30px 0 40px;
		a.more-posts{
			display: inline-block;
			
			&.loading{
				border-color: $light-grey;
				color: $light-grey !important;
				cursor: default;
				padding-right:60px;
				&:after{
					content:"";
					width:32px;
					height:32px;
					background: url('../images/preloader.gif') center center no-repeat;
					@include abs-pos(12px,12px,auto,auto);
					display: block; 
				}
			}
			&.end{
				display: none;
			}
		}
	}
