.home{
	@include bg-cover;
	@extend %clearfix;
	@media screen and (max-width: $break-small){
		height:480px !important; 
	}

	.logo{
		width:149px;
		height:auto;
		//margin:0 auto 50px;
		@include abs-pos(30px,30px,auto,auto);
		z-index: 999;
		@media screen and (max-width: $break-xlarge){
			width: 149px/100*75;
		}
		img{
			width: 100%;
			height:auto;
		}
	}
}
.bg-overlay{
	@include abs-pos(0,0,0,0);
	z-index: 996;
	background-color: #282828;
	@include opacity(.65);
}
#home-slider{
	display: block;
	width:100%;
	height:100%;
	@include abs-pos(0,auto,auto,0);
	.slick-track,.slick-list{
		height: 100%;
	}
	.home-slide{
		width:100%;
		height:100%;
		display: block;
		z-index: 995;
		@include bg-cover;
	}
}
.caption{
	text-align:center;
	position: relative;
	@include vertical-align;
	z-index: 997;
	div{
		display: inline-block;
		margin:0 auto;
	}
	h2{
		display:block;
		@include font-size(72);
		//padding: 0 6%;
		letter-spacing:0;
		@media screen and (max-width: $break-xlarge){
			@include font-size(54);
			padding:0 20px;
		}
		@media screen and (max-width: $break-small){
			@include font-size(40);
			padding:0;
		}
		color: white; 
		font-style: normal;
		text-transform: uppercase;
		font-family: $gibson-bold;
		line-height: 85%;
		text-align: center;
	}
	@media screen and (max-width: $break-small){
		padding:0 54px;
	}
}
a.scroll{
	display:inline-block;
	@include font-size(14);
	color: white;
	font-family: $gibson-semibold;
	text-transform: uppercase;
	text-align: center;
	width:140px;
	height: auto;
	padding:56px 0 0;
	@include abs-pos(auto,auto,20px,50%);
	margin-left:-70px;
	z-index:998;
	&:before{
		content:"";
		width:22px;
		height:48px;
		display: block;
		@include abs-pos(0,auto,auto,50%);
		margin-left:-11px;
		background: url('../images/scroll-icon.png');
		background-size:100% auto;
		@media screen and (max-width: $break-xlarge){
			width:17px;
			height:37px;
			margin-left: -8px;
		}
	}
	@media screen and (max-width: $break-xlarge){
		@include font-size(14);
		padding-top:42px;
	}
	@media screen and (max-width: $break-small){
		display: none;
	}
}
#video-overlay{
	position: fixed;
	-webkit-transform:translateZ(1px);
    -moz-transform:translateZ(1px);
    -o-transform:translateZ(1px);
    transform:translateZ(1px);
	width:100%;
	height:100%;
	display: none;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.8);
	z-index:9999;
	a#video-close{
		@include abs-pos(15px,15px,auto,auto);
		z-index: 9999;
		display: block;
		width:50px;
		height:50px;
		@include border-radius(50%);
		color: white;
		display: block;
		background-color:rgba(0,0,0,.7);
		cursor: pointer;
		background-image:url('../images/close-btn.png');
		background-position: center center;
		background-repeat: no-repeat;
		@extend %ir;
	}
	.video-container{
    	position:absolute;
    	height:100%;
    	width:100%;
    	left:0;
    	top:0;
    	overflow: hidden;
    	@media screen and (max-width: $break-medium){
    		height:100%;
    		&:before {
            	content: '';
            	display: inline-block;
            	height: 100%;
            	vertical-align: middle;
            	margin-right: -0.25em; /* Adjusts for spacing */
     		}
    	}
    	video{
    		min-width: 100%;
    		min-height: 100%;
    		@media screen and (max-width: $break-medium){
    			height:450px;
    			min-width:0;
    			min-height: 0;
    			width:98%;
    			vertical-align:middle
    		}
    	}
	}
}