ul#featured-work{
	height:75%;
	@media screen and (max-width: $break-large){
		height: 68%;
	}
	@media screen and (max-width: $break-small){
		height:auto;
	}
	display:block;
	li{
		width:33.33%;
		height:50%;
		overflow:hidden;
		float:left;
		position: relative;
		&:after{
			///content:"";
			//padding-top:68%;
			//display: inline-block;
		}
		@media screen and (max-width: $break-medium) and (min-height: 1000px){
			width:50%;
			height:33.33%;
		}
		@media screen and (max-width: $break-small){
			height:220px;
			width:100%;
			float: none;
		}
		figure{
			@include abs-pos(0,0,0,0);
			// -webkit-transition: -webkit-transform 0.5s;
			text-align: center;
			background-position: center center;
			background-repeat:no-repeat;
			.bg{
				@include abs-pos(-1px,-1px,-1px,-1px);
				@include transition(transform 0.6s ease);
				z-index: 1;
				@include bg-cover;
			}
			&:hover,&:active{
				//background-size: 120% auto;
				figcaption{
					@include opacity(1);
				}
				.bg{
					@include transform(scale(1.15));
				}
			}
			figcaption{
				text-align: center;
				position: relative;
				z-index: 2;
				display: block;
				width:100%;
				height: 100%;
				@include opacity(0);
				@include transition(opacity 0.2s ease);
				@include rgba-bg(0,0,0,#000000,.82);
				a{
					display: block;
					width: 100%;
					height: 100%;
				}
				div{
					html.csstransforms3d &{
						@include vertical-align;
					}
					
					h3{
						@include font-size(18);
						margin-bottom:10px; 
						@media screen and (max-width: $break-xlarge){
							@include font-size(16);
						}
					}
					h4{
						@include font-size(16);
						@media screen and (max-width: $break-xlarge){
							@include font-size(14);
						}
						color: white;
						margin-bottom: 35px;
					}
				}
			}
		}
	}
}
#work-single{
	//padding-top:50vh;
	
	.page-title{
		position: fixed;
		//vertical-align: middle;
		width: 100%;
		left:0;
		top: 0;
		/*
		-webkit-transform:translateZ(1px);
    	-moz-transform:translateZ(1px);
    	-o-transform:translateZ(1px);
    	transform:translateZ(1px);
    	*/
		@media screen and (max-width: $break-large){
			//top: 70px !important;    
		}
		//padding-top:70px;
		z-index: 997;
		
		.vcenter{
     		position: relative;	
			width: 100%;
     		height: 380px;
     		@media screen and (max-width: $break-large){
     			height:310px;
     		}
     		@media screen and (max-width: $break-small){
     			height:250px;
     		}
			&:before{
     			content: "";
     			display: inline-block;
     			vertical-align: middle;
     			height: 100%;
     			margin-right: -0.25em;
			}
			div{
				display: inline-block;
     			width:99%;
     			vertical-align: middle;
     			//@extend %preserve-3d;
				padding-left:240px;
				@media screen and (max-width: $break-xlarge){
					padding-left:200px;
				}
				@media screen and (max-width: $break-large){
					padding-left:48px;
				}
				@media screen and (max-width: $break-small){
					padding-left:0;
				}
			}
		}
		
		@media screen and (max-width: $break-small){
			position: relative;
			left:auto;
			top:auto;
		}
		div{
			
		}
		h1{
			width: 45%;
			max-width: 420px;
			display: inline-block;
			img{
				@include fit-grid(width);
			}
			@media screen and (max-width: $break-xlarge){
				width: 30%;
				min-width:300px;
			}
			@media screen and (max-width: $break-small){
				width:30%;
				min-width: 250px;
			}
		}
	}
	.content{
		margin-top: 310px; //margin-top:50vh;
		@media screen and (max-width: $break-small){
			margin-top: 120px;
		}
		/* @media screen and (min-height: 1000px){
			margin-top: 250px;
		} */
		background-color: white;
		-webkit-transform: translate3d(0,0,0);
		/*
		-webkit-transform:translateZ(1px);
		-moz-transform:translateZ(1px);
		-o-transform:translateZ(1px);
		transform:translateZ(1px);
		*/
		position: relative; 
		z-index: 998;
		.intro{
			padding: 6% 12%;
			p:last-child{
				margin-bottom: 0;
			}
			@media screen and (max-width: $break-xlarge){
				padding: 5% 15%;
			}
			@media screen and (max-width: $break-large){
				padding: 4% 8%;
			}
			@media screen and (max-width: $break-small){
				padding: 30px 30px 30px;
			}
			text-align: center;
			@extend %full-width;
			h3{
				@include font-size(44);
				margin-bottom: 4px;
				@media screen and (max-width: $break-xlarge){
					@include font-size(35);
				}
				@media screen and (max-width: $break-small){
					@include font-size(25);
				}
			}
			h4{
				@include font-size(18);
				margin-bottom: 50px;
				@media screen and (max-width: $break-xlarge){
					margin-bottom: 30px;
					@include font-size(14);
				}
			}
		}
		footer{
			&.intro{
				h3{
					margin-bottom: 30px;
				}
				h4{
					padding: 0 20%;
					@media screen and (max-width: $break-small){
						padding:0;
					}
				}
			}
		}
		section{
			@extend %clearfix;
		}
	}
}
.column{
	float:left;
	display: block;
	width:100%;
	height:100%;
	position: relative;
	@media screen and (max-width: $break-small){
		float:none;
	}
	.cell{
		display: block;
		width: 100%;
		position: relative;
		color: white;
		@media screen and (max-width: $break-small){
			height: auto;
		}
		@include bg-cover;
		
		&:before{
			@media screen and (min-width: $break-small+1){
				content:"";
				display: block;
				padding-top: 70%;
			}
		}
		.inner{
			@include abs-pos(0,0,0,0);
			height:100%;
			@media screen and (max-width: $break-small){
				position: relative;
				padding: 60px 30px 30px;
			}
			div{
				@include vertical-align;
				text-align: center;
				padding:0 14%;
				@media screen and (max-width: $break-large){
					padding:0 8%;
				}
				@media screen and (max-width: $break-small){
 					@include reset-vertical-align;
 					padding:0;
				}
				p{
					text-align: left;
					@media screen and (max-width: $break-small){
						text-align: center;
					}
				}
			}
		}
		h5{
			@include font-size(34);
			color: white;
			font-family: $proximanova-bold;
			text-transform: uppercase;
			margin-bottom: 40px;
			@media screen and (max-width: $break-xlarge){
				@include font-size(25);
				margin-bottom: 20px;
			}
			@media screen and (max-width: $break-small){
				margin-bottom: 30px;
			}
		}
		.underline{
			&:after{
				margin-top:15px;
			}
		}
	}
	&.half{
		width:50%;
		.cell{
			&:before{
				@media screen and (min-width: $break-small+1){
					padding-top:140%;
				}
			}
			&.image{
				@media screen and (max-width: $break-small){
					height:500px;
				}
			}
			&.half-height{
				&:before{
					@media screen and (min-width: $break-small+1){
						padding-top:70%;
					}
				}
				&.image{
					@media screen and (max-width: $break-small){
						height:250px;
					}
				}	
			}
		}
		@media screen and (max-width: $break-small){
			width:100%;
		}
	}
}

nav#categories{
	@extend %clearfix;
	@include centered-menu;
	margin-bottom: 40px;
	li{
		margin: 0 20px;
		@media screen and (max-width: $break-xlarge){
			margin: 0 10px;
		}
		@media screen and (max-width: $break-small){
			margin: 0 5px;
		}
	}
	a,span{
		display: block;
		width:50px;
		height:43px;
		@media screen and (max-width: $break-xlarge){
			width:38px;
			height:33px;
		}
		img{
			@include fit-grid(width);
		}
		/*height:40px;
		width:50px;
		background-size: auto 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url('../images/brand-strategy-icon-blue.png');
		@extend %ir;
		&.print{
			background-image: url('../images/print-icon-blue.png');
		}
		&.creative{
			background-image: url('../images/creative-icon-blue.png');
		}
		&.direct-marketing{
			background-image: url('../images/direct-marketing-icon-blue.png');
		}
		*/
	}

}
nav#social-share{
	@extend %clearfix;
	@include centered-menu;
	span{
		display: block;
		margin:10px auto 10px;
		font-family: $georgia;
		font-style: italic;
		@include font-size(16);
		@media screen and (max-width: $break-xlarge){
			@include font-size(14);
		}
	}
	li{
		margin:0 4px;
		a{
			width:30px;
			height: 30px;
			@extend %ir;
			@media screen and (max-width: $break-xlarge){
				width:22px;
				height:22px;
			}
			@extend %ir;
			display: block;
			background-size: 100% auto;
			background-image:url('../images/facebook-share.png');
			background-position: center center;
			background-repeat: no-repeat;
			&.twitter{
				background-image:url('../images/twitter-share.png');
			}
			&.email{
				background-image:url('../images/email-share.png');
			}
			&.linkedin{
				background-image:url('../images/linkedin-share.png');
			}
		}
	}
}
nav.controls{
	width:70px;
	z-index:9999;
	-webkit-transform:translateZ(1px);
    -moz-transform:translateZ(1px);
    -o-transform:translateZ(1px);
    transform:translateZ(1px);
	position:fixed; 
	display: none;
	&.show{
		display: block;
	}
	top:0;
	right:0;
	@media screen and (max-width: $break-xlarge){
		width:50px;
	}
	@media screen and (max-width: $break-small){
		width:100%;
		height:50px;
		top:70px;
		z-index: 999;
		background-color:#b8b8b8;
		position:fixed;
		left:0;
	}
	ul{
		li{
			@media screen and (max-width: $break-small){
				float:left;
				display: inline-block;
				&.close{
				float:right;
			}
			}

			a{
				width:70px;
				height:70px;
				display: block;
				@extend %ir;
				background-color: black;
				background-image:url('../images/prev-btn.png');
				@media screen and (max-width: $break-small){
					background-image:url('../images/prev-btn-black.png');
					background-color: #b8b8b8;
				}
				background-position: center center;
				background-repeat: no-repeat;
				@media screen and (max-width: $break-xlarge){
					background-size: 10px 19px;
				}
				&:hover,&:active{
					background-color: lighten(black,20);
					@media screen and (max-width: $break-small){
						background-color: lighten(#b8b8b8,10);
					}
				}
				&.next{
					background-image:url('../images/next-btn.png');
					@media screen and (max-width: $break-small){
						background-image:url('../images/next-btn-black.png');
					}
				}
				&.close{
					background-image:url('../images/close-btn.png');
					@media screen and (max-width: $break-xlarge){
						background-size: 19px 19px;
					}
					@media screen and (max-width: $break-small){
						background-image:url('../images/close-btn-black.png');
						float: right;
					}
				}
				@media screen and (max-width: $break-xlarge){
					width:50px;
					height:50px;
				}
			}
		}
	}
}
/*
video {
  width: 100%    !important;
  height: auto   !important;
  display: block;
  position: relative;
  @include bg-cover;
  border:none;
}
*/
a.video-control{
  	display: block;
  	@include transition(background-color 0.2s ease-in-out);
  	width:50px;
  	height:50px;
  	background-size: 100px 50px;
  	background-color: black;
  	background-image:url('../images/play-pause-btn.png');
  	background-position:left top;
  	background-repeat: no-repeat;
  	cursor:pointer;
  	@include abs-pos(auto,auto,20px,20px);
  	z-index: 999;
  	@extend %ir;
  	&:hover,&:active{
  		background-color: $blue;
  	}
  	&.play{
  		background-position: right top;
  	}
  }