nav#sectors{
	display: block;
	width:100%;
	height:100%;
	@media screen and (max-width: $break-small){
		height:auto;
	}
	.underline{
		&:after{
			width: 30px;	
			margin: 20px auto 0;
			@media screen and (max-width: $break-xlarge){
				@include abs-pos(auto,auto,0,50%);
				margin-left:-15px;
			}
		}
	}
	ul{
		z-index: 999;
		position: relative;
		@extend %full-width;
		@extend %clearfix;
		margin:0;
		height:100%;
		display: block;
		li.item{
			width:100%;
			display: block;
			height:100%;
			margin:0;
			background-color:$blue;
			@include abs-pos(0,auto,auto,0);
			.handle,.main,aside{
				float: left;
				@media screen and (max-width: $break-small){
					float:none;
					text-align: center;
				}
			}
			@media screen and (max-width: $break-small){
				position: relative;
			}
			.button{
				@media screen and (max-width: $break-small){
					display: inline-block;
					margin:0 auto;
				}
			}
			.handle{
				@include transition(background-color 0.3s ease-in-out);
				border-right:1px solid rgba(255,255,255,.4);
				width:20%;
				height:100%;
				padding:0 15px;
				&:last-child{
					border-right: none;
				}
				&.hover{
					cursor:pointer;
					&:hover,&:active{
						background-color: darken($blue,5);
					}
				}
				@media screen and (max-width: $break-small){
					width:100%;
					height:200px;
					border-top:1px solid rgba(255,255,255,.4);
					border-bottom:0;
					border-right:none;
				}
				div{
					@extend %full-width;
					@include vertical-align;
					text-align: center;
					padding:76px 0 0;
					position: relative;
					@media screen and (max-width: $break-xlarge){
						padding-top: 52px;
					}
					@media screen and (max-width: $break-small){
						padding-top: 95px;
					}
					h3{
						margin:30px 0 10px;
						span{
							@include vertical-align;
						}
						@include font-size(20);
						@media screen and (max-width: $break-xlarge){
							height:60px;
							margin:0;
							@include font-size(16);
							span{
								display: block;
								@include vertical-align;
								@media screen and (max-width: $break-small){
									//transform: none;
									//top:0;
								}
							}
						}
						@media screen and (max-width: $break-small){
							//height: auto;
							margin-bottom: 2px;
						}
					}
					img{
						width:88px;
						height:88px;
						display: block;
						@include abs-pos(0,auto,auto,50%);
						margin-left:-44px;
						@media screen and (max-width: $break-small){
							margin-top:10px;
						}
						@media screen and (min-width: $break-small+1) and (max-width: $break-xlarge){
							width:60px;
							height: 60px;
							margin-left:-30px;
						}
					}
				}
			}
			&.item-2{
				left:20%;
				@media screen and (max-width: $break-small){
					left:0;
				}
			}
			&.item-3{
				left:40%;
				@media screen and (max-width: $break-small){
					left:0;
				}
			}
			&.item-4{
				left:60%;
				@media screen and (max-width: $break-small){
					left:0;
				}
			}
			&.item-5{
				left:80%;
				@media screen and (max-width: $break-small){
					left:0;
				}
			}	
			.main,aside{
				width:60%;
				height:100%;
				display: block;
				padding: 4% 3%;
				border-left:1px solid white;
				@media screen and (min-width: $break-small+1){
				@include opacity(0);
			}
				@media screen and (max-width: $break-small){
					//@include opacity(1);
					display: none;
					width:100%;
					padding: 5%;
					border:0;
				}
			}
			aside{
				width: 20%;
				@media screen and (max-width: $break-small){
					width: 100%;
					border-bottom:1px solid white;
				}
				ul{
					li{
						padding-left:30px;
						margin-bottom: 10px;
						position:relative;
						line-height: 120%;
						@media screen and (max-width: $break-xlarge){
							padding-left:20px;
						}
						span{
							display:block;
							position: relative;
							@media screen and (max-width: $break-small){
								display:inline-block;
								margin:0 auto;
								height:16px;
								line-height: 16px;
							}
							&:before{
								content:"";
								width:15px;
								height:16px;
								display: block;
								background:url('../images/tick.png') center center no-repeat;
								@include abs-pos(2px,auto,auto,-20px);
								@media screen and (min-width: $break-small+1) and (max-width: $break-xlarge){
									width:11px;
									height:12px;
									background-size: 11px 12px;
								}
							}
						}	
					}
				}
			}
		}	
	}
}