.slideshowContainer{
width: 617px;
height: 270px;
margin-bottom: 0px;
}

.slideshowContainer span{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
position:absolute;
top:0px;
left:0px;
width:617px;
height:12px;
background: URL(../images/main_image_highlight.png) repeat-x top;
z-index:50;
display:block;
}

* html .slideshowContainer span { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../images/main_image_highlight.png');}

#buttons_on{
position:absolute;
top:242px;
left:0px;
z-index:11;
margin:0px;
padding:0px;
width:151px;
height:28px;
}

#navi_gallery{
margin:0px;
padding:0px;
width:151px;
height:28px;
position:relative;
background: URL(../images/control_panel_bk.png);
}

#navi_gallery div#prev{
margin:0px;
padding:0px;
position:absolute;
top:8px;
left:7px;
display:block;
z-index:50;
color:#ffffff;
width:15px;
height:15px;
}

#navi_gallery div#prev a{
display:block;
width:15px;
height:15px;
}

#navi_gallery div#play_stop{
margin:0px;
padding:0px;
position:absolute;
top:8px;
left:33px;
display:block;
z-index:50;
color:#ffffff;
width:35px;
height:15px;
}

#navi_gallery div#play_stop a.play{
margin:0px;
padding:0px;
display:inline-block;
width:12px;
height:15px;
}

#navi_gallery div#play_stop a.pause{
margin:0px 0px 0px 8px;
padding:0px;
display:inline-block;
width:10px;
height:15px;
}

#navi_gallery div#next{
margin:0px;
padding:0px;
position:absolute;
top:8px;
left:70px;
display:block;
z-index:50;
color:#ffffff;
width:15px;
height:15px;
}

#navi_gallery div#next a{
display:block;
width:15px;
height:15px;
}

#thumbnails{
height:0px;
margin:0px;
padding:0px;
visibility:hidden;
}