header#header{
	position: fixed;
	z-index: 9998;
	top:0;
	left:0;
	display: block;
	background-color: #131313;
	width:240px;
	height:100%;
	overflow:visible;
	-webkit-transform:translateZ(1px);
    -moz-transform:translateZ(1px);
    -o-transform:translateZ(1px);
    transform:translateZ(1px);
	@extend .clearfix;
	@media screen and (max-width: $break-xlarge){
		width:200px;
	}
	@media screen and (max-width: $break-large){
		width:100%;
		min-height:70px; 
		padding:70px 0 0;
		height: auto;
		position:fixed;
		top:0;
		left:0;

	}
	@media screen and (max-width: $break-small){
		//position:relative;
		//top:auto;
		//left:auto;
	}
	a#top{
		display:none;
	}
	#contacts{
		@extend %full-width;
		padding: 0 8% 0 8%;
		display: block;
		@include abs-pos(auto,auto,3%,0);
		a{
			&:link, &:visited{
				@include opacity(.5);
			}
			&:hover, &:active{
				@include opacity(1);
			}
		}
		small{
			a{
				display: block;
				color: white;
			}
		}
		@media screen and (max-width: $break-large){
			display: none;
			padding: 0 0 0 22px;
		}

	}
	&.expanded{
		padding-bottom: 140px;
		#contacts{
			display: block;
		}
	}
	a#mobile-menu{
    	display: none;
    	width:40px;
    	height:27px;
    	@include transition(none);
    	@extend %ir;
    	background:url('../images/mobile-menu-small.png') center center no-repeat;
    	//background-size: 30px 20px;
    	display: none;
    	@include abs-pos(13px,auto,auto,10px);
    	@media screen and (max-width: $break-large){
    		display: block;
    		width:30px;
    		height:20px;
    	}
    	@media screen and (max-width: $break-large){
    		width:35px;
    		height:24px;
    		background:url('../images/mobile-menu.png') center center no-repeat;
    		background-size:100% auto;
    		@include abs-pos(24px,auto,auto,20px);
    	}
    	&.active{
    		background:url('../images/close-btn-small.png') center center no-repeat;
    		//background-size: 25px 25px;
    	}
    }
}
#home-link{
	position: fixed;
	z-index:99999;
	-webkit-transform:translateZ(1px);
    -moz-transform:translateZ(1px);
    -o-transform:translateZ(1px);
    transform:translateZ(1px);
	width: 86px;
	height: 86px;
	-webkit-animation-name: pulse;
    animation-name: pulse;
	display: none;
	right:30px;
	top:30px;
	margin:0 0 0 0;
	img{
		@include fit-grid(width);
	}
	@media screen and (min-width: $break-xlarge){
		width:106px;
		height:98px;
		margin:0;
	}
	
	@media screen and (max-width: $break-large){
		width:56px;
		height:52px;
		right:20px;
		top:10px;
		margin:0;
	}

}